In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"/home/oskar-kiss/repos/antartic bacteria/final_concatenated_output_2.csv", index_col=0)

/tmp/ipykernel_51021/4224580651.py:1: DtypeWarning: Columns (6,7,8,9,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"/home/oskar-kiss/repos/antartic bacteria/final_concatenated_output_2.csv", index_col=0)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91855 entries, 0 to 91854
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   sample_id                          91855 non-null  object
 1   field_season                       91855 non-null  object
 2   lake                               91855 non-null  object
 3   limno_run                          91855 non-null  object
 4   date                               91855 non-null  object
 5   depth_(m)                          91855 non-null  object
 6   green_algae_(µg_chl-a_l-1)         91854 non-null  object
 7   cyanobacteria_(µg_chl-a_l-1)       91854 non-null  object
 8   brown/mixed_algae_(µg_chl-a_l-1)   91854 non-null  object
 9   cryptophytes_(µg_chl-a_l-1)        91854 non-null  object
 10  yellow_substances__r.u.            91852 non-null  float64
 11  total_chlorophyll__(µg_chl-a_l-1)  91854 non-null  object
dtypes: float64(1), object(11)
memory usage: 9.1+ MB

In [5]:
df.head()

,sample_id,field_season,lake,limno_run,date,depth_(m),green_algae_(µg_chl-a_l-1),cyanobacteria_(µg_chl-a_l-1),brown/mixed_algae_(µg_chl-a_l-1),cryptophytes_(µg_chl-a_l-1),yellow_substances__r.u.,total_chlorophyll__(µg_chl-a_l-1)
0,FRX0405L2,2004-05,FRX,L2,12.2.2004,0.38,0.0,0.46,0.0,0.0,0.00,0.46
1,FRX0405L2,2004-05,FRX,L2,12.2.2004,0.45,0.12,0.12,0.39,0.0,0.29,0.63
2,FRX0405L2,2004-05,FRX,L2,12.2.2004,0.67,0.11,0.0,0.41,0.2,0.11,0.71
3,FRX0405L2,2004-05,FRX,L2,12.2.2004,1.0,0.03,0.0,0.38,0.26,0.18,0.67
4,FRX0405L2,2004-05,FRX,L2,12.2.2004,1.05,0.37,0.0,0.59,0.0,0.04,0.96

In [6]:
for col in df.select_dtypes("object").columns:
    print(col, len(set(df[col])))

sample_id 250
field_season 19
lake 9
limno_run 15
date 246
depth_(m) 9854
green_algae_(µg_chl-a_l-1) 2979
cyanobacteria_(µg_chl-a_l-1) 345
brown/mixed_algae_(µg_chl-a_l-1) 2563
cryptophytes_(µg_chl-a_l-1) 1168
total_chlorophyll__(µg_chl-a_l-1) 4318

In [7]:
df.columns

Index(['sample_id', 'field_season', 'lake', 'limno_run', 'date', 'depth_(m)',
       'green_algae_(µg_chl-a_l-1)', 'cyanobacteria_(µg_chl-a_l-1)',
       'brown/mixed_algae_(µg_chl-a_l-1)', 'cryptophytes_(µg_chl-a_l-1)',
       'yellow_substances__r.u.', 'total_chlorophyll__(µg_chl-a_l-1)'],
      dtype='object')

In [8]:
df = df.rename(
    columns={
    "green_algae_(µg_chl-a_l-1)" : "green_algae",
    "cyanobacteria_(µg_chl-a_l-1)" : "cyanobacteria",
    "brown/mixed_algae_(µg_chl-a_l-1)" : "brown/mixed_algae",
    "cryptophytes_(µg_chl-a_l-1)" : "cryptophytes",
    "total_chlorophyll__(µg_chl-a_l-1)" : "total_chlorophyll",
    "yellow_substances__r.u." : "yellow_substances",
    "depth_(m)" : "depth"
})

In [9]:
df.columns

Index(['sample_id', 'field_season', 'lake', 'limno_run', 'date', 'depth',
       'green_algae', 'cyanobacteria', 'brown/mixed_algae', 'cryptophytes',
       'yellow_substances', 'total_chlorophyll'],
      dtype='object')

In [10]:
for column in ["field_season","lake","limno_run"]:
    df[column] = df[column].astype("category")

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91855 entries, 0 to 91854
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          91855 non-null  object
 1   field_season       91855 non-null  category
 2   lake               91855 non-null  category
 3   limno_run          91855 non-null  category
 4   date               91855 non-null  object
 5   depth              91855 non-null  object
 6   green_algae        91854 non-null  object
 7   cyanobacteria      91854 non-null  object
 8   brown/mixed_algae  91854 non-null  object
 9   cryptophytes       91854 non-null  object
 10  yellow_substances  91852 non-null  float64
 11  total_chlorophyll  91854 non-null  object
dtypes: category(3), float64(1), object(8)
memory usage: 7.3+ MB

In [12]:
print(list(set(df["date"]))[:20])

['18.12.2012', '29.12.2007', '25.11.2017', '21.12.2006', '12.29.2004', '10.11.2022', '11.12.2006', '14.12.2005', '04.01.2013', '01.04.2008', '17.12.2014', '22.12.2022', '13.11.2008', '12.12.2013', '05.01.2017', '12.12.2010', '26.11.2006', '22.11.2014', '07.12.2015', '13.12.2012']

In [13]:
def align_dates(date:str):
    try:
        dates = list(map(int, date.split(".")))
        year = dates[2]

        if dates[0] > 12:
            day = dates[0]
            month = dates[1]
        elif dates[0] <= 12:
            day = dates[1]
            month = dates[0]
        
        return f"{year}-{month}-{day} 00:00:00.00"

    except ValueError as e:
        try:
            year, month, day = date.split("-")
            day = day.split(" ")[0]
            return f"{year}-{month}-{day} 00:00:00.00"

        except Exception as e:
            print(date)
            return pd.NA

In [14]:
df["date"] = pd.to_datetime(df["date"].apply(align_dates), errors="coerce")

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91855 entries, 0 to 91854
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          91855 non-null  object
 1   field_season       91855 non-null  category
 2   lake               91855 non-null  category
 3   limno_run          91855 non-null  category
 4   date               91853 non-null  datetime64[ns]
 5   depth              91855 non-null  object
 6   green_algae        91854 non-null  object
 7   cyanobacteria      91854 non-null  object
 8   brown/mixed_algae  91854 non-null  object
 9   cryptophytes       91854 non-null  object
 10  yellow_substances  91852 non-null  float64
 11  total_chlorophyll  91854 non-null  object
dtypes: category(3), datetime64[ns](1), float64(1), object(7)
memory usage: 7.3+ MB

In [16]:
df.select_dtypes("object").head()

,sample_id,depth,green_algae,cyanobacteria,brown/mixed_algae,cryptophytes,total_chlorophyll
0,FRX0405L2,0.38,0.0,0.46,0.0,0.0,0.46
1,FRX0405L2,0.45,0.12,0.12,0.39,0.0,0.63
2,FRX0405L2,0.67,0.11,0.0,0.41,0.2,0.71
3,FRX0405L2,1.0,0.03,0.0,0.38,0.26,0.67
4,FRX0405L2,1.05,0.37,0.0,0.59,0.0,0.96

In [17]:
len(set(df["sample_id"]))

250

In [18]:
df["sample_id"] = df["sample_id"].astype("category")

In [19]:
df.select_dtypes("object").head()

,depth,green_algae,cyanobacteria,brown/mixed_algae,cryptophytes,total_chlorophyll
0,0.38,0.0,0.46,0.0,0.0,0.46
1,0.45,0.12,0.12,0.39,0.0,0.63
2,0.67,0.11,0.0,0.41,0.2,0.71
3,1.0,0.03,0.0,0.38,0.26,0.67
4,1.05,0.37,0.0,0.59,0.0,0.96

In [20]:
df['depth'] = df["depth"].replace(to_replace="m", value=np.nan).astype("float64")

In [21]:
df["green_algae"] = df["green_algae"].replace("µg/l", np.nan).astype("float64")

In [22]:
df["cyanobacteria"] = df["cyanobacteria"].replace("µg/l", np.nan).astype("float64")

In [23]:
df["brown/mixed_algae"] = df["brown/mixed_algae"].replace("µg/l", np.nan).astype("float64")

In [24]:
df["cryptophytes"] = df["cryptophytes"].replace("µg/l", np.nan).astype("float64")

In [25]:
df["total_chlorophyll"] = df["total_chlorophyll"].replace("µg/l", np.nan).astype("float64")

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91855 entries, 0 to 91854
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          91855 non-null  category
 1   field_season       91855 non-null  category
 2   lake               91855 non-null  category
 3   limno_run          91855 non-null  category
 4   date               91853 non-null  datetime64[ns]
 5   depth              91853 non-null  float64
 6   green_algae        91852 non-null  float64
 7   cyanobacteria      91852 non-null  float64
 8   brown/mixed_algae  91852 non-null  float64
 9   cryptophytes       91852 non-null  float64
 10  yellow_substances  91852 non-null  float64
 11  total_chlorophyll  91852 non-null  float64
dtypes: category(4), datetime64[ns](1), float64(7)
memory usage: 6.8 MB

In [27]:
minimum_date = df["date"].min()
elapsed_days = []

for index in df.index:
    value = df.at[index, "date"] - minimum_date
    elapsed_days.append(value)

In [28]:
df.insert(loc=5, column="elapsed_days", value=elapsed_days)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 91855 entries, 0 to 91854
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sample_id          91855 non-null  category
 1   field_season       91855 non-null  category
 2   lake               91855 non-null  category
 3   limno_run          91855 non-null  category
 4   date               91853 non-null  datetime64[ns]
 5   elapsed_days       91853 non-null  timedelta64[ns]
 6   depth              91853 non-null  float64
 7   green_algae        91852 non-null  float64
 8   cyanobacteria      91852 non-null  float64
 9   brown/mixed_algae  91852 non-null  float64
 10  cryptophytes       91852 non-null  float64
 11  yellow_substances  91852 non-null  float64
 12  total_chlorophyll  91852 non-null  float64
dtypes: category(4), datetime64[ns](1), float64(7), timedelta64[ns](1)
memory usage: 9.5 MB

In [31]:
df = df.dropna(how="any")

In [32]:
df.to_feather(r"/home/oskar-kiss/repos/antartic bacteria/clean_data.feather")